<canvas id="scenery" style="position: absolute; z-index: -1"></canvas>
<canvas id="player"></canvas>

<script>
	var playerX = 1000;
	let playerWalkSpeed = 10;

	// Obtener contexto del canvas para el jugador
  	let cx = player.getContext("2d");
  	cx.canvas.width = 1000;

  	// Crear y dibujar el jugador
  	let img = document.createElement("img");
  	img.src = "img/player.jpg";
  	let spriteW = 48, spriteH = 60;

	// Obtener contexto del escenario
	let cxbg = scenery.getContext("2d");
  	cxbg.canvas.width = 1000;
  	cxbg.canvas.height = 1000;

  	// Crear y dibujar el fondo
  	let imgbg = document.createElement("img");
  	imgbg.src = "img/test.jpg";
  	imgbg.addEventListener("load", () => {
  		cxbg.drawImage(imgbg, 0, 0, 1000, 1000);
  	});

	// Función para espejar el canvas
  	function flipHorizontally(contextRef, around) {
  		contextRef.translate(around, 0);
  		contextRef.scale(-1, 1);
  		contextRef.translate(-around, 0);
	}

  	img.addEventListener("load", () => {
    	let cycle = 0;

    	// Función de callback con intervalo (nuestro "gameloop")
    	setInterval(() => {

				function update(progress){

				}

				function draw(){
					cx.clearRect(playerX - 10, 0, spriteW + 10, spriteH);
					cx.drawImage(img,
									 // Origen
									 cycle * spriteW, 0, spriteW, spriteH,
									 // Destino
									 playerX,               0, spriteW, spriteH);
				}


      		cycle = (cycle + 1) % 8;
      		playerX += playerWalkSpeed;
    	}, 120);
  	});

  	// Espejar el jugador
  	flipHorizontally(cx, playerX + spriteW / 2);

</script>
